$font-stack: 'Poppins', sans-serif;
$bgrcolor: #e6dce5;
$primarycolor: rgb(100, 97, 97);

* {
    box-sizing: border-box;
    margin: 0 auto;
    border: none;
}
body{
    background: linear-gradient(180deg, rgba(8,84,103,1) 0%, rgba(175,167,187,1) 50%, rgba(244,192,179,1) 100%);
    font-family: $font-stack;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
h1{
    color: white;
    font-family: 'Fuzzy Bubbles', cursive, $font-stack;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh
}
.container{
    form{
        border-radius: 10px;
        background-color: white;
        height: 7vh;
        width: 350px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.2rem;
            input{
                height: 9vh;
                width: 330px;
                margin-left: 10px;
                font-size: 1.3rem;
                font-family: $font-stack;
                font-weight: bolder;
                margin: 0.3rem 0 0.3rem 0;
        } 
        input:focus{outline: none}
        .submit{
            font-size: 1.8rem !important;
            color:rgba(8,84,103);
            background-color: inherit;
            margin: 0.5rem;
            margin-left: 0}
    }
    .item{
        height: 7vh;
        width: 30rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5px;
        align-items: center;
        color:$primarycolor;
        background-color: $bgrcolor;
        font-family: $font-stack;
        padding-left: 5px;
        font-size: 1.3rem;
        font-weight: bold;  
            .buttons{
            display: flex;
            justify-content:flex-end;
            flex-direction: row;
            margin:0;
            padding:0;
            }
            .delete{background-color: rgb(250, 181, 174);}
            .complete{background-color:#86b88c;}
    }
}
.btn{
   width: 7vh;
   height: 7vh;
   font-size: 1.3rem;
   color:$primarycolor ;
}
.done{
    text-decoration: line-through;
    color: gainsboro;
}

//h1, container, form, submit, delete, complete, item